html {
    width: 60%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}

/* I'm adding some stuff to the CSS style sheet too! (Even though it isn't necessary) */

/* There are no borders for any table */
table {
    border-collapse: collapse;
}

/* Table headers and cells are padded away from the borders, and are cetner aligned */
th, td {
    padding: 10px;
    text-align: center;
}

/* Every 2nd, 4th, 6th, ..., row has a slightly darker background */
tr:nth-child(even) {
    background-color: #f0f0f0;
}

/* The area of the table defined inside the <thead> block is styled differently*/
thead {
    border-bottom-style: solid;
    background-color: #c0c0c0;
}

/* Textareas cant be resized */
textarea {
    resize: none;
    overflow:auto;
}

/* Buttons look pretty */
button {
    background-color: #6060BB;
    border: 5px outset #5555AF;
    color: white;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

/* Make rows of elements better */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 10px;
}

/* Horizontal Rules <hr> look a little different */
hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 3px outset #CFCFFF;
}
